<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand " href="#"><b>Epicode.COM</b></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link " [routerLink]="['/']" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/Province']" routerLinkActive="router-link-active" href="#">Province</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"[routerLink]="['/Comuni']" routerLinkActive="router-link-active" href="#">Comuni</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/Clienti']" routerLinkActive="router-link-active" href="#">Clienti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/Fatture']" routerLinkActive="router-link-active" href="#">Fatture</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/NuovoCliente']" routerLinkActive="router-link-active" href="#"> Nuovo Cliente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/NuovoFatture']" routerLinkActive="router-link-active" href="#"> Nuovo Fattura</a>
        </li>
      </ul>
    </div>
  </nav>
