<div class="card">
    
    <h5 class="card-header">Id:{{dataComune.id}}</h5>
    <div class="card-body">
      <h5 class="card-title">Nome:{{dataComune.nome}}</h5>
      <!--h5 class="card-title">Last:{{dataComune.last}}</h5-->
      <h5 class="card-title">Total pages:{{dataComune.nome}}</h5>
      <h5 class="card-title">TotalElements:{{dataComune.nome}}</h5>
      <h5 class="card-title">Number:{{dataComune.nome}}</h5>
      <h5 class="card-title">Number Of Elements:{{dataComune.nome}}</h5>
      <h5 class="card-title">Size:{{dataComune.nome}}</h5>
      <button type="button" class="btn btn-danger"> Update Comune</button>
    </div>
  </div>
  
  
{{dataComune|json}}